doctype html
html
  head
    title
    link(rel="stylesheet" type="text/css" href="/css/dist/normalize.css")
    link(rel="stylesheet" type="text/css" href="/css/home.css")
  body
    #top
        #title 
            #main RSS Reddit
            #divider
            #sub View Reddit through an RSS feed
    #bottom
        form#search(action="#" onsubmit="return false")
            input#subreddit(type="text")
            label Subreddit